@{
ViewData["Title"] = "Characters' info";

    var character = ViewData["Character"] as Character;

    if (character != null)
    {
    @character.Name
    @character.Story.Id
    @character.Story.Name
    }
  
    var characters = ViewBag.Characters;

    if (characters != null)
    {
<table class="table" style="text-align: center">
    @foreach (var chars in characters)
    {
    <tr>
        <td><a href="characters?index=@chars.Name">@chars.Name</td>
        <td><a href="characters/get/@chars.Story.Id">@chars.Story.Id</td>
        <td><a href="characters/@chars.Story.Name">@chars.Story.Name</td>
    </tr>
    }
    </table>
    }
    }
