@{
ViewData["Title"] = "Characters' info";

    var character = ViewData["Character"] as Character;

    if (character != null)
    {
    @character.Name
    @character.Story.Id
    @character.Story.Name
    }
  
    var characters = ViewBag.Characters;

    if (characters != null)
    {
<table class="table" style="text-align: center">
    @foreach (var chars in characters)
    {
    <tr>
        <td><a asp-controller="Characters" asp-route-name="@chars.Name">@chars.Name</a></td>
        <td><a asp-controller="Characters" asp-action="Get" asp-route-id="@chars.Story.Id">@chars.Story.Id</a></td>
        <td><a asp-controller="Characters" asp-route-name="@chars.Story.Name">@chars.Story.Name</a></td>
    </tr>
    }
    </table>
    }
    }
